body {
    flex-wrap: wrap;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
}

h2 {
   font-family: 'Kalam', cursive;
   margin-top: -25px;
}

.kid-collage {
    background-color: rgb(255 222 0);
    border: 25px solid rgb(72, 16, 156);
    margin-top: 50px;
    margin-left: 325px;
    flex-wrap: wrap;
    width: 1100px;
    height: 400px;
    padding: 50px;
    position: absolute;
}

.puzzle {
    width: 1000px;
    height: 650px;
    margin-left: -25px;
    margin-top: -25px;
    padding: 25px;
    position: relative;
    animation: fade 10s infinite;
    animation-duration: 15s;
    animation-delay: 0s;
            
}

@keyframes fade {
    0% {opacity: .0;}
    25% {opacity: .4;}
    50% {opacity: .8;}
    75% {opacity: 1;}  
    100% {opacity: 0;}      
}

p {
    font-size: 20px;
}

.intro {
    width: 950px;
    height: 200px;
    margin-left: 450px;
    margin-top: -650px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 25px;
    position: absolute;
    flex-direction: row;
    float: inline-start;
    
}

.hearts {
    width: 900px;
    height: 600px;
    margin-top: -400px;
    margin-left: 475px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    padding: 25px;
    position: absolute;
}


.hero-container {
    background-color: rgb(255 222 0);
    margin-top: 100px;
    margin-left: 475px;
    flex-wrap: wrap;
    width: 850px;
    height: 800px;
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.cork-container {
    margin-top: 200px;
    background-image: url(/img/corkboard.jpg);
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    padding: 50px;
}

.placeholder-one {
    background-color:blue;
    margin-top:-75px;
    margin-left: 75px;
    width: 200px;
    height: 50px;
    padding: 25px;
    text-align: center;
    color: white;
}

.placeholder-two {
    background-color:blue;
    margin-top:-117px;
    margin-left: 525px;
    width: 200px;
    height: 50px;
    padding: 25px;
    text-align: center;
    color: white;
}

.grid-container {
    background-color: blue;
    display: grid;
    grid-template-columns: 25px 25px 25px 25px;
    width: 600px;
    height: 200px;
    margin-top: -250px;
    margin-left: 335px;
    padding: 25px;
    position: ab;
}

.grid-one {    
    display: grid;
    width: 100px;
    height: 100px;
    padding: 25px;
    margin-left: 0px;
    margin-top: -12px;
}

.grid-two {    
    display: grid;
    width: 100px;
    height: 100px;
    padding: 25px;
    margin-left: 100px;
    margin-top: -12px;
}

.grid-three {    
    display: grid;
    width: 100px;
    height: 100px;
    padding: 25px;
    margin-left: 200px;
    margin-top: -12px;
}

.grid-four {    
    display: grid;
    width: 100px;
    height: 100px;
    padding: 25px;
    margin-left: 300px;
    margin-top: -12px;
}




