.body {
    margin: 0;
    background-color:#afccf73a;   
    display: flex;
}


.nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 0 auto;
    margin: 0;
    display: flex;
    justify-content: space-between;    
    position: fixed;
} 

.nav a {
    color:rgba(12, 12, 112, 0.925);
    text-decoration: none;
    text-align:center;
    font-size:40px;
    font-family: 'Dosis', sans-serif;
    min-width: 200px;
    padding: 35 20 30 20

}


.nav a:hover {
    border-bottom: rgba(12, 12, 112, 0.925);
    text-decoration: underline;
}

.logo {
    height: 135px;
    width: 150px;
    display:flex;
    top: 0%;
    left:0%;
}

/*.donatediv {
    background-color:#a9b0dac5;
    margin: 5 5 5 5;
    padding: 35 0 30 0;
}

.logo {
    height: 130px;
} 


 position: fixed;
    left: 0;
    top: 0;
    height: 130px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    margin: 5 5 5 5;
}
*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(78, 185, 185, 0.863);
    padding-top: 10px; 
}

.footercontent {
    text-align: center;
    font-size:20px;
    font-family: 'Dosis', sans-serif;
    color:rgba(12, 12, 112, 0.925);
}
    
 ul {
    list-style: none;
}

.footerterms{
    font-size: 15px;
    margin: 30 40 20 40;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: rgb(56, 52, 52)
}

.footertitle {
   font-weight: 700;
}


#background-video {
   width: 100%;
   margin: 135 0 0 0;
   position: fixed;
   background-color:#afccf73a; 
   z-index:0
}
 
.opening-statment {

    font-size: 40px;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-weight: bolder;
    color: rgba(7, 7, 70, 0.925);
    position: fixed;
    z-index: 1;
    padding-left: 1%;
    padding-top: 8%;
    text-align: left;
    overflow: hidden;
    border-right: .15em solid rgba(255, 255, 255, 0);
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards;
  }

.small {
    font-size: 20px;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


 