body
{background-color:rgba(rgb(0, 81, 255), rgb(154, 1075, 21), blue, alpha);

 margin: 0px;
    padding: 0px;
   font-family: 'Dosis', sans-serif;
   box-sizing:border-box;
 }

a{
   padding:0 100px;
   text-decoration: none;


   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width:100%;
}
.review-heading{
   letter-spacing: 1px;
   margin: 30px 0px;
}

